body {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(229, 255, 0);
    text-align: center;
}
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }
  
  .link {
    margin: 20px;
  }
  
/* Animal Button Area */
button {
    text-decoration: none;
    color: rgb(108, 105, 255);
    background-color: rgb(240, 230, 250);
    padding: 10px;
    border-radius: 10px;
}
#animalButtonArea > button {
    margin-left: auto;
    margin-right: auto;
    width:40px;
    height:10px;
    margin:2px;
}
#animal1 {background: rgb(63, 202, 63);}
#animal1:active, #animal1.lit{
  background: green;
}

#animal2 {background: rgb(86, 136, 228);}
#animal2:active, #animal2.lit{
  background: blue;
}

#animal3 {background: rgb(250, 121, 121);}
#animal3:active, #animal3.lit{
  background: red;
}

#animal4 {background: rgb(212, 161, 241);}
#animal4:active, #animal4.lit{
  background: violet;
}